<tr>
  <th><%= order_detail.product.name %></th>
  <td><%= order_detail.product.unit_price %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= order_detail.product.unit_price * order_detail.quantity %></td>
</tr>