<% provide(:title, @product.name) %>

<p>
	Name: <%= @product.name %>
</p>
<p>
	Description: <%= @product.desc %>
</p>
<p>
	Price: <%= @product.unit_price %>
</p>
<p>
	Category: <%= @product.category %>
</p>